/* ================= RESET ================= */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #d3d8de;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

/* ================= LAYOUT ================= */
.dashboard {
  display: flex;
  min-height: 100vh;
  width: 100vw;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ================= TOPBAR ================= */
.topbar {
  height: 60px;
  margin: 15px 20px;
  padding: 0 24px;
border-radius: 25px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: linear-gradient(
    200deg,
    #b096d1 0%,
    #b3d5f0 50%,
    #b096d1 100%
  );

  color: #fff;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.topbar-right {
  font-size: 18px;
}

.topbar-right b {
  font-weight: 600;
}

/* ================= CONTENT ================= */
.dashboard-content {
  flex: 1;
  padding: 25px 0;
}

.dashboard-inner {
  max-width: 1200px;
  margin: 0 20px;
}

.page-title {
  font-size: 26px;
  margin-bottom: 20px;
  color: #1f2d3d;
}

/* ================= CARDS ================= */
.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: linear-gradient(
    200deg,
    #b3d5f0 0%,
    #f2e9fd 35%,
    #86a7c3 70%
    
  );
  padding: 24px;
  width: 380px;
  height: 200px;
  border-radius: 45px 30px 15px 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.card-icon {
  font-size: 34px;
}

.card-title {
  font-size: 28px;
  font-weight: 500;
  color: #1f2d3d;
}

.card-count {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

/* ================= MOBILE VIEW ================= */
@media (max-width: 768px) {

  .topbar {
    height: 84px;
    margin: 15px;
    padding: 0 16px;
  }

  .topbar-left {
    font-size: 15px;
    gap: 8px;
  }

  .topbar-right {
    font-size: 15px;
  }

  .dashboard-inner {
    margin: 0 12px;
  }

  .cards {
    flex-direction: column;
  }

  .card {
      background: rgb(230, 229, 210);

    width: 100%;
    min-height: auto;
  }

  .card-title {
    font-size: 28px;
  }

  .card-icon {
    font-size: 28px;
  }

  .card-count {
    font-size: 24px;
  }
}
