button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.company-page {
  padding: 20px;
}

.company-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.company-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.company-card h2 {
  margin-bottom: 25px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}


.company-btn-wrapper {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  align-items: center;   /* Important */
}

.company-btn {
  flex: 1;
  height: 50px;
  border-radius: 12px;
  border: none;
    margin-top: 30px;

  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: inline-flex;   /* change from flex to inline-flex */
  align-items: center;
  justify-content: center;
  line-height: 1; 
  vertical-align: middle;
        /* remove text vertical difference */
}

.save-btn {
  background: linear-gradient(to right, #4e73df, #6f42c1);
  color: #fff;
}

.clear-btn {
  background: linear-gradient(to left, #4e73df, #6f42c1);
  color: #fff;
}

.btn-icon {
  margin-right: 8px;
  font-size: 14px;
}
.save-btn:hover{
  color: rgb(18, 18, 18);
}

.clear-btn:hover{
  color: rgb(255, 17, 17);
}
.company-alert {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
}

.company-alert.success {
  background: #d4edda;
  color: #155724;
}

.company-alert.error {
  background: #f8d7da;
  color: #721c24;
}
