@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* ===== Thin scrollbar (global) ===== */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background:transparent;
}

/* ===== Firefox ===== */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent;
}
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
}

